.find-pw-wrap{
  margin: 32px 16px 0 16px;
}
.btn {
  width: 100%;
}
.lostinfo-btn-area{
  margin-top: 48px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.goto-login-btn{
  margin-top: 5px;
  background-color: #FFFFFF;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #3D3938;
  border: 1px solid #3D3938;
  font-weight: 700;
}
.find-id-caption-text{
  color: var(--wgray09);
  margin-bottom: 8px;
}