.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 41, 41, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.popup-inner {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}
.popup-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.popup-body-inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.popup-body-inner-left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.popup-body-inner-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.popup-body-inner-body label {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 4px;
}
.popup-body-inner-body input, .popup-body-inner-body select {
    width: 100%;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px;
}
.popup-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 55px;
}
.popup-footer-btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.popup-footer-btn:hover {
    background-color: #E0E0E0;
}
